@font-face {
  font-family: pokemon;
  src: url(PokemonSolid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(PokemonHollow.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  background-color: #e5ebec;
  color: #000;
}

body.dark {
  background-color: #2b2a2a;
  color: #fff;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

header {
  font-family: pokemon;
  background-color: rgb(196, 101, 101);
  font-size: 45px;
  color: rgb(255,215,0);
  -webkit-text-stroke: 2px blue;
  letter-spacing: 2px;
  text-align: center;
}

a.pokedex {
  color: rgb(255,215,0);
  -webkit-text-stroke: 2px blue;
  text-decoration: none;
}

a.pokedex:hover {
  text-shadow: 2px 2px 4px #3f4cc0;
}

.btn {
  float: right;
}

.contenedor {
  display: flex;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 40px;
  background-color: rgb(224, 212, 212);
}

.Contenedor-Pokemon {
  font-family: pokemon;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.Contenedor-Pokemon:hover {
  cursor: pointer;
}

.nombre {
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 1px;
}

.nombre:hover {
  text-decoration: underline;
}

.tarjeta {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 3px 15px rgba(63, 61, 61, 0.5);
}

.tarjeta :hover {
  cursor: pointer;
}

.tipo {
  padding: 10px;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: capitalize;
  font-size: 16px;
}

.tipo2 {
  padding: 10px;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 50px;
  margin: 5px;
  text-transform: capitalize;
  font-size: 16px;
}

input[type="text"] {
  flex: 0 0 auto;
  border-radius: 6px;
  margin-right: 5px;
  height: 25px;
  width: 25%;
  padding: 5px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

input[type="text"]:hover {
  box-shadow: 0 3px 15px rgba(38, 60, 180, 0.5);
}

button {
  border: none;
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
}

.botones {
  display: flex;
  margin-left: auto;
}

/* Responsivo */

@media screen and (max-width: 768px) {
  header {
    font-size: 30px;
  }
  
  .Contenedor-Pokemon {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
  }
  
  .tipo,
  .tipo2 {
    font-size: 14px;
  }
  
  #buscar {
    margin-right: 20px;
  }
  
  input[type="text"] {
    margin-left: 20px;
  }
  
  .botones {
    margin-right: 20px;
  }
}