@font-face {
  font-family: pokemon;
  src: url(PokemonSolid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(PokemonHollow.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: pokemon;
  font-size: 30px;
  color: yellow;
  -webkit-text-stroke: 2px blue;
  text-shadow: 2px 2px 4px #3f4cc0;
  letter-spacing: 2px;
}

input[type = "checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgb(85, 83, 83);
  appearance: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s ease;
}

input[type = "checkbox"]:checked {
  background-color: rgb(255, 255, 255);
}

input[type = "checkbox"]::before {
  content: '';
  position:absolute;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
  border: 0.5px black solid;
  border-radius: 50%;
  top: 1px;
  left: 2px;
  transition: 0.7s ease;
}

input[type = "checkbox"]:checked::before {
  transform: translateX(20px);
}

.modo-oscuro {
  background-color: rgb(26, 25, 25);
  color: white;
}

body{
  background-color: rgb(243, 239, 239);
  text-align: center;
  transition: 0.5s ease-in-out;
}

.Contenedor-Pokemon {
  font-family: pokemon;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

  .name {
    text-transform: capitalize;
}

  .tarjeta {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 3px 15px rgba(70, 68, 68, 0.5);
}

.tarjeta :hover {
  cursor: pointer;
}

.tipo
{
  padding:10px;
  border-radius: 100vmax;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.tipo2{
  padding: 10px;
  border-radius: 100vmax;
  margin: 5px;
}

#buscar{
  margin-right: 50px;
}